.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item-card {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.item-card .current-amount {
    font-size: 1em;
    margin: 4px 0;
}

.add-card-button {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.add-card-button:hover {
    transform: scale(1.05);
    background-color: #e4e4e4;
}

.add-card-button .MuiTypography-root {
    margin-left: 8px;
}
