.saving-detail {
    max-width: 800px;
    margin: auto;
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.saving-detail img {
    width: 35%;
    margin-bottom: 12px;
    border-radius: 12px;
}

.saving-detail .info {
    text-align: center;
    margin-top: 8px;
}

.saving-detail .info .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 12px;
}

.saving-detail .info .field label {
    font-weight: bold;
}

.saving-detail .info .field span {
    color: #555;
}

.action-buttons {
    text-align: center;
    margin-top: 8px;
}
